.filter {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    position: relative;

    &__item {
        padding: 6px 15px;
        border-radius: 10px;
        border: 1px solid #A3A3A3;
        margin-right: 8px;
        margin-top: 8px;
        transition: 1.5s;
        font-size: 12px;
        position: relative;

        &--is-hidden {
            display: none;
        }

        &:hover {
            cursor: pointer;
            color: $mainColor;
            border-color: $mainColor;
            transition: .5s;
            font-weight: 600;

        }
    }
}