&__hamburger-btn {
    position: relative;
    width: 25px;
    height: 25px;
    background: none;
    border: none;

    &:hover {
        cursor: pointer;
    }

    &--is-active {
        .nav__hamburger-inner {
            background: none;
            transition: .2s ease-in-out;

            &::before {
                top: 0;
                transform: rotate(135deg);
                transition: .5s ease-in-out;
            }

            &::after {
                bottom: 0;
                transform: rotate(-135deg);
                transition: .5s ease-in-out;
            }
        }
    }
}

&__hamburger-inner {
    display: block;
    height: 4px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    border-radius: 4px;
    transition: .5s ease-in-out;

    &::before {
        display: block;
        content: "";
        height: 4px;
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: -8px;
        border-radius: 4px;
        transition: .5s ease-in-out;
    }

    &::after {
        display: block;
        content: "";
        height: 4px;
        width: 100%;
        background-color: #fff;
        position: absolute;
        bottom: -8px;
        border-radius: 4px;
        transition: .5s ease-in-out;
    }
}