&__hamburger-btn {
    position: relative;
    width: 1.8em;
    height: 1.8em;
    background: none;
    border: none;

    &:hover {
        cursor: pointer;
    }

    &--is-active {
        .nav__hamburger-inner {
            background: none;
            transition: .2s ease-in-out;

            &::before {
                top: 0;
                transform: rotate(135deg);
                transition: .5s ease-in-out;
            }

            &::after {
                bottom: 0;
                transform: rotate(-135deg);
                transition: .5s ease-in-out;
            }
        }
    }
}

&__hamburger-inner {
    display: block;
    height: 0.32em;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -0.16em;
    border-radius: 0.32em;
    transition: .5s ease-in-out;

    &::before {
        display: block;
        content: "";
        height: 0.32em;
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: -0.6em;
        border-radius: 0.32em;
        transition: .5s ease-in-out;
    }

    &::after {
        display: block;
        content: "";
        height: 0.32em;
        width: 100%;
        background-color: #fff;
        position: absolute;
        bottom: -0.6em;
        border-radius: 0.32em;
        transition: .5s ease-in-out;
    }
}

@media(min-width: 65rem) {
    &__hamburger-btn {
        display: none;
    }
}