.slider {
    position: relative;
    overflow: hidden;
    height: 100%;

    &__container {}

    &__slide {
        background-color: #d3d3d3;
        height: 100%;
        width: 100%;
        position: absolute;
        transition: 0.5s ease-in;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;

        &--moved-left {
            transform: translateX(-100%);
            transition: 0.5s ease-in;
            z-index: 0;
            opacity: 0;
        }

        &--moved-right {
            transform: translateX(100%);
            transition: 0.5s ease-in;
            z-index: 0;
            opacity: 0;
        }

        &--moved-center {
            transform: translateX(0);
            transition: 0.5s ease-in;
            background-color: #8b8b8b;
            color: #fff;

        }


    }

    &__nav {

        .slider__button {
            // position: absolute;
            // top: 0;
            // width: 6rem;
            // height: 100%;
            // opacity: 0.01;
            // border: none;
            // background-color: #fff;
            // transition: .5s;

            &::before {
                color: #fff;
                font-size: 1.5rem;
                transition: .5s;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                padding: 50% 0;
            }


            &:hover::before {
                color: $mainColor;
            }

            // &:hover &--prev::before,
            // &:hover &--next::before {
            //     // opacity: 0.1;

            //     right: auto;
            // }

            &--prev::before {
                left: -200px;
            }

            &--next::before {
                right: -200px;
            }
        }
    }

    &__dots {
        position: absolute;
        bottom: 2rem;
        display: flex;
        justify-content: center;
        list-style: none;
        width: 100%;

        .slider__dots-element {
            margin: 0 0.8rem;
        }

        .slider__dots-button {
            height: 0.8em;
            width: 0.8em;
            border-radius: 10px;
            border: 2px solid $mainColor;
            background: none;

            &--is-active {
                background: $mainColor;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.slider:hover .slider__button--prev::before {
    left: 0;
    transition: .5s;
    cursor: pointer;
}

.slider:hover .slider__button--next::before {
    right: 0;
    transition: .5s;
    cursor: pointer;
}